#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Corax";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  183  109  (-500)   233   159>
            , <&key_physical_attrs 100 100  306   33       0     0     0>
            , <&key_physical_attrs 100 100  406    0       0     0     0>
            , <&key_physical_attrs 100 100  506   33       0     0     0>
            , <&key_physical_attrs 100 100  606   48       0     0     0>
            , <&key_physical_attrs 100 100 1108   48       0     0     0>
            , <&key_physical_attrs 100 100 1208   33       0     0     0>
            , <&key_physical_attrs 100 100 1308    0       0     0     0>
            , <&key_physical_attrs 100 100 1408   33       0     0     0>
            , <&key_physical_attrs 100 100 1532  109     500  1582   159>
            , <&key_physical_attrs 100 100   91  218  (-500)   141   268>
            , <&key_physical_attrs 100 100  191  209  (-500)   241   259>
            , <&key_physical_attrs 100 100  306  133       0     0     0>
            , <&key_physical_attrs 100 100  406  100       0     0     0>
            , <&key_physical_attrs 100 100  506  133       0     0     0>
            , <&key_physical_attrs 100 100  606  148       0     0     0>
            , <&key_physical_attrs 100 100 1108  148       0     0     0>
            , <&key_physical_attrs 100 100 1208  133       0     0     0>
            , <&key_physical_attrs 100 100 1308  100       0     0     0>
            , <&key_physical_attrs 100 100 1408  133       0     0     0>
            , <&key_physical_attrs 100 100 1523  209     500  1573   259>
            , <&key_physical_attrs 100 100 1623  218     500  1673   268>
            , <&key_physical_attrs 100 100    0  327  (-500)    50   377>
            , <&key_physical_attrs 100 100  100  318  (-500)   150   368>
            , <&key_physical_attrs 100 100  199  309  (-500)   249   359>
            , <&key_physical_attrs 100 100  306  233       0     0     0>
            , <&key_physical_attrs 100 100  406  200       0     0     0>
            , <&key_physical_attrs 100 100  506  233       0     0     0>
            , <&key_physical_attrs 100 100  606  248       0     0     0>
            , <&key_physical_attrs 100 100 1108  248       0     0     0>
            , <&key_physical_attrs 100 100 1208  233       0     0     0>
            , <&key_physical_attrs 100 100 1308  200       0     0     0>
            , <&key_physical_attrs 100 100 1408  233       0     0     0>
            , <&key_physical_attrs 100 100 1515  309     500  1565   359>
            , <&key_physical_attrs 100 100 1615  318     500  1665   368>
            , <&key_physical_attrs 100 100 1714  327     500  1764   377>
            , <&key_physical_attrs 100 100  108  417  (-500)   158   467>
            , <&key_physical_attrs 100 100  207  408  (-500)   257   458>
            , <&key_physical_attrs 100 100  306  333       0     0     0>
            , <&key_physical_attrs 100 100  406  300       0     0     0>
            , <&key_physical_attrs 100 100  506  333       0     0     0>
            , <&key_physical_attrs 100 100  606  348       0     0     0>
            , <&key_physical_attrs 100 100  707  348       0     0     0>
            , <&key_physical_attrs 100 100 1007  348       0     0     0>
            , <&key_physical_attrs 100 100 1108  348       0     0     0>
            , <&key_physical_attrs 100 100 1208  333       0     0     0>
            , <&key_physical_attrs 100 100 1308  300       0     0     0>
            , <&key_physical_attrs 100 100 1408  333       0     0     0>
            , <&key_physical_attrs 100 100 1507  408     500  1557   458>
            , <&key_physical_attrs 100 100 1606  417     500  1656   467>
            , <&key_physical_attrs 100 100  406  400       0     0     0>
            , <&key_physical_attrs 100 100  506  433       0     0     0>
            , <&key_physical_attrs 100 100  617  459    1500   667   509>
            , <&key_physical_attrs 100 100  714  520    3000   764   570>
            , <&key_physical_attrs 100 100 1000  520 (-3000)  1050   570>
            , <&key_physical_attrs 100 100 1097  459 (-1500)  1147   509>
            , <&key_physical_attrs 100 100 1208  433       0     0     0>
            , <&key_physical_attrs 100 100 1308  400       0     0     0>
            ;
    };
};
